.Movie-Title{
    color: white;
    font-size: 30px;
    text-align: center;
    /* border: 2px solid red; */
    margin-top: 5%;
}

.seat {
    background-color: #444451;
    height: 25px;
    width: 28px;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 75%;
    color: rgba(255, 255, 255, 0);
}

.key-seat{
    background-color: #444451;
    height: 25px;
    width: 28px;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selected {
    background-color: #0081cb;
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
}

.occupied {
    background-color: #fff;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.seat:nth-of-type(4) {
    margin-right: 50px;
}

.seat:nth-last-of-type(4) {
    margin-left: 50px;
}

.seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
    color: rgba(255, 255, 255, 1);
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen {
    background: #fff;
    height: 60px;
    width: 35%;
    margin: 1% 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255,255,255,0.7);

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 130%;
    color: black;
    font-weight: bold;
}

.Theater-layout{
    /* border: 2px solid red; */
    perspective: 1000px;
    margin: 1% 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.seat-keys{
    /* border: 2px solid red; */
    margin-top: 2%;
}

.key-text{
    color: white;
}

.key-piece{
    margin: 0 1%;
}

.buy-cont{
    /* border: 2px solid red; */
    margin: 2% 0;
    text-align: center;
}

.buytxt{
    color: white;
    font-size: 100%;
    margin: 0 20px;
}

.buybtn{
    background-color: #444451;
    padding: 0.5% 5%;
    margin: 0 20px;
}

.buysel{
    background-color: #0081cb;
    font-weight: bold;
}

.footer-seat{
    position: fixed;
    width: 100%;
    height: 75px;
    bottom: 0;
    background: #070720;
}

.header-seat{
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    background: #070720;
}